@import "src/colors.scss";

.search-icon {
    padding: 10px;
    position: absolute;
}

.icon {
    color: $primary-color;
}
  
.input-field {
    width: 40vw;
    padding: 11px; 
    padding-left: 40px;
    color: $spanish-gray;
    border: 1px solid $platinum;
    border-radius: 8px; 
    outline: none;
}