<div>
  <div
    class="mx-auto mb-0.5 mt-4 flex items-center justify-between lg:max-w-screen-lg xl:max-w-screen-xl"
  >
    <div class="lg:hidden">
      <label for="check" class="ml-5 flex">
        <i class="material-icons-round cursor-pointer select-none" (click)="onOpenMenuClick()">menu</i>
      </label>
    </div>

    <input type="checkbox" id="check" class="hidden [&+div]:checked:left-0" />
      <div
      class="fixed top-0 -left-full z-20 flex h-full w-full list-none flex-col items-center justify-center bg-light-platinum
        transition-all duration-700 ease-in-out lg:hidden leading-10"
    >
      <li>Home</li>
      <li>Products</li>
      <li>Services</li>
      <li>About</li>
      <li>Contact</li>
  
      <label for="check" class="close-menu absolute top-6 left-5">
        <i class="material-icons-round cursor-pointer select-none"
          (click)="onCloseMenuClick()"
          >close</i
        >
      </label>
    </div>

    <img class="h-7 lg:h-10" src="/assets/svg/logo.svg" alt="logo" />

    <div class="hidden lg:block">
      <app-input
        class="[&>input]:w-[35rem]"
        placeholder="Search..."
        [hasIconLeft]="true"
        inputType="search"
      >
        <i class="material-icons-round absolute p-2.5 text-primary-color"
          >search</i
        >
      </app-input>
    </div>

    <div class="flex">
      <app-icon-box class="order-2 mr-5">
        <i class="material-icons-round text-primary-color">shopping_cart</i>
      </app-icon-box>

      <app-icon-box class="order-3 hidden lg:block">
        <i class="material-icons-round text-primary-color">person</i>
      </app-icon-box>
    </div>
  </div>

  <div class="my-2 flex bg-light-platinum p-3 lg:hidden">
    <app-input
      class="w-full [&>input]:w-full"
      placeholder="Search..."
      [hasIconLeft]="true"
      inputType="search"
    >
      <i class="material-icons-round absolute p-2.5 text-primary-color"
        >search</i
      >
    </app-input>
  </div>
</div>
