<div>
  <div class="flex justify-evenly w-full mb-0.5 mt-4 px-22">
    <img class="h-10" src="/assets/svg/logo.svg" alt="logo" />
    <div>
      <i class="material-icons-round icon search-icon">search</i>
      <input type="search" class="input-field" placeholder="Search..." />
    </div>
    <div class="flex">
      <div class="default-box mr-2">
        <i class="material-icons-round icon">shopping_cart</i>
      </div>
      <div class="default-box">
        <i class="material-icons-round icon">person</i>
      </div>
    </div>
  </div>
</div>