<fieldset class="flex flex-col">
  <legend class="font-medium">Price</legend>

  <div class="w-full pr-4">
    <mat-slider
      #slider
      min="0"
      max="10000"
      [displayWith]="formatLabel"
      discrete
    >
      <input
        #sliderStart
        matSliderStartThumb
        (valueChange)="onStartValueChange($event)"
        [(ngModel)]="startValueRange"
        name="start"
      />
      <input
        #sliderEnd
        matSliderEndThumb
        (valueChange)="onEndValueChange($event)"
        [(ngModel)]="endValueRange"
        name="end"
      />
    </mat-slider>
  </div>
</fieldset>
