<app-login-base>
  <h1 class="mb-32 text-xl font-bold lg:mb-8">Welcome back! Log in</h1>

  <div class="xl flex w-full flex-col px-10 lg:px-20">
    <form #form="ngForm" class="flex flex-col" (ngSubmit)="login(form)">
      <mat-form-field appearance="fill">
        <mat-label>Login/e-mail</mat-label>
        <input required [(ngModel)]="user.email" name="email" matInput #emailInput="ngModel"/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input required [(ngModel)]="user.password" type="password" name="password" matInput #passInput="ngModel"/>        
      </mat-form-field>

      <div class="text-red-500" *ngIf="formSubmitted && form.invalid">
        <p *ngIf="form.controls['email'].invalid">Email is required!</p>
        <p *ngIf="form.controls['password'].invalid">Password is required!</p>
      </div>

      <mat-error *ngIf="submitErrorMessage">{{ submitErrorMessage }}</mat-error>

      <span class="self-end text-primary-color"
        ><a routerLink="/user/forgot-password">Forgot Password?</a></span
      >
    </form>
  </div>

  <button
    class="mt-24 mb-8 w-1/4 rounded-lg lg:mt-4"
    mat-flat-button
    color="primary"
    type="submit"
    (click)="form.ngSubmit.emit()"
  >
    Login
  </button>

  <span
    >You do not have an account?
    <span class="text-primary-color">
      <a routerLink="/user/new-account">Register</a>
    </span>
  </span>
</app-login-base>
