<fieldset class="flex flex-col">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="font-medium">Categories</mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="productCategories$ | async as productCategories">
        <div *ngFor="let category of productCategories; let i = index">
          <mat-checkbox
            (change)="onCheckBoxChange($event, category.id)"
            color="primary"
            [checked]="productCategoryChecked === category.id"
          ></mat-checkbox>
          <span>{{ category.categoryName }}</span>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</fieldset>
