@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'material-icons/iconfont/round.scss';
@import 'colors.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button { border-radius: 0.5rem !important; }