@import "src/styles/colors.scss";

input {    
    color: $spanish-gray;
    border: 1px solid $platinum;
    border-radius: 8px; 
    outline: none;
    padding: 0.75rem;
}

.pl {
    padding-left: 2.5rem;
}
