<div>
  <div
    class="mx-auto flex items-center justify-between p-4 lg:max-w-screen-lg xl:max-w-screen-xl"
  >
    <div class="lg:hidden">
      <span class="flex">
        <i
          class="material-icons-round cursor-pointer select-none"
          (click)="onMenuClick()"
          >menu</i
        >
      </span>
    </div>

    <input
      type="checkbox"
      class="hidden [&+div]:checked:left-0"
      [checked]="checked"
    />
    <div
      class="fixed top-0 -left-full z-20 flex h-full w-full list-none flex-col items-center justify-center bg-light-platinum leading-10 transition-all duration-700 ease-in-out lg:hidden"
    >
      <li>Home</li>
      <li>Products</li>
      <li>Services</li>
      <li>About</li>
      <li>Contact</li>

      <span class="close-menu absolute top-6 left-5">
        <i
          class="material-icons-round cursor-pointer select-none"
          (click)="onMenuClick()"
          >close</i
        >
      </span>
    </div>

    <img
      routerLink=""
      class="h-7 cursor-pointer select-none lg:h-10"
      src="/assets/svg/logo.svg"
      alt="logo"
    />

    <div class="hidden lg:block">
      <app-input
        class="[&>input]:w-[35rem]"
        placeholder="Search..."
        [hasIconLeft]="true"
        inputType="search"
      >
        <i class="material-icons-round absolute p-2.5 text-primary-color"
          >search</i
        >
      </app-input>
    </div>

    <div class="flex">
      <app-icon-box class="order-2 lg:mr-5  cursor-pointer" routerLink="/cart">
        <i
          class="material-icons-round select-none text-primary-color"
          >shopping_cart</i
        >
      </app-icon-box>

      <app-icon-box
        class="order-3 hidden lg:block cursor-pointer"
        routerLink="/auth/account-info"
      >
        <i
          class="material-icons-round select-none text-primary-color"
          >person</i
        >
      </app-icon-box>
    </div>
  </div>

  <div class="my-2 flex bg-light-platinum p-4 lg:hidden">
    <app-input
      class="w-full [&>input]:w-full"
      placeholder="Search..."
      [hasIconLeft]="true"
      inputType="search"
    >
      <i class="material-icons-round absolute p-2.5 text-primary-color"
        >search</i
      >
    </app-input>
  </div>
</div>
