<div class="bg-light-platinum">
  <div class="flex justify-center [&_h4]:font-bold">
    <div class="flex w-80 flex-col">
      <h4>Sign up for news</h4>
      <p>
        Keep up to date with the latest product launches and news. Find out more
        about our brands and get special promo codes.
      </p>
      <app-input
        class="w-80"
        placeholder="Your e-mail"
        type="email"
      ></app-input>
      <button mat-flat-button color="primary">Subscribe</button>
    </div>

    <div class="ml-32 flex flex-col">
      <h4>How to buy</h4>
      <ul>
        <li>
          <a href="#">Payment methods</a>
        </li>
        <li>
          <a href="#">Order and Pick up</a>
        </li>
        <li>
          <a href="#">Order with delivery</a>
        </li>
        <li>
          <a href="#">Shopping over the phone</a>
        </li>
        <li>
          <a href="#">Returns</a>
        </li>
      </ul>
    </div>

    <div class="ml-16 flex flex-col">
      <h4>Services</h4>
      <ul>
        <li>
          <a href="#">Transport</a>
        </li>
        <li>
          <a href="#">Design service</a>
        </li>
        <li>
          <a href="#">Paint an plaster mixing service</a>
        </li>
        <li>
          <a href="#">Dimensioning and assembly service</a>
        </li>
      </ul>
    </div>

    <div class="ml-16 flex flex-col">
      <h4>About</h4>
      <ul>
        <li>
          <a href="#">About us</a>
        </li>
        <li>
          <a href="#">Press Office</a>
        </li>
        <li>
          <a href="#">For suppliers</a>
        </li>
        <li>
          <a href="#">Regulations</a>
        </li>
      </ul>
    </div>
  </div>
</div>
